.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
    color: #000;
    background: #fff;
    border-color: #f0f0f0;
    border-bottom: 1px solid #fff;
}

.ant-tabs-nav .ant-tabs-tab:hover {
    color: #000;
}